{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'calculator/style.css' %}?v=1">
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <nav class="navbar">
        <ul>   
            <li><a href="{% url "floor-calculator" %}">Floor Calculator</a></li>
            <li><a href="{% url "wall-calculator" %}">Wall Calculator</a></li> 
            <li><a href="{% url "bathroom-calculator" %}">Bathroom Calculator</a></li> 
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>