{% load static %}  
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'calculator/style.css' %}?v=1">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <script src="{% static 'calculator/navigation.js' %}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Renovation Website</title>
</head>
<body>
    
    <header>
        <nav class="navbar">
            <div class="company-title">Company Name</div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a onclick="scrollToAbout()">About</a></li>
                    <li><a onclick="scrollToServices()">Services</a></li>
                    <li><a onclick="scrollToContact()">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'calculator/modern-kitchen-hero.webp' %}');">
            <h1>Elevate Your Space with Expert Renovation Services</h1>
            <p>Craftsmanship. Creativity. Your Dream Space, Realized.</p>
            <button class="cta" onclick="scrollToCalculator()">Calculate price</button>
        </section>

        <article id="about" class="about-container">
            <h2>Company</h2>
            <p>
                About the company. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. 2 Proin porttitor, orci nec nonummy.
                <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. 2 Proin porttitor, orci nec nonummy.
            </p>
        </article>

        <section id="services" class="services">
            <div class="service1" style="background-image: url('{% static 'calculator/modern-bathroom-services.webp' %}');">
                <div class="bg-text">
                    <h2>Service 1</h2>
                    <p>Description of service</p>
                </div>
            </div>

            <div class="service2" style="background-image: url('{% static 'calculator/modern-kitchen-services.webp' %}');">
                <div class="bg-text">
                    <h2>Service 2</h2>
                    <p>Description of service</p>
                </div>
            </div>

            <div class="service3" style="background-image: url('{% static 'calculator/modern-living-room-services.webp' %}');">
                <div class="bg-text">
                    <h2>Service 3</h2>
                    <p>Description of service</p>
                </div>
            </div>
        </section>

    
    <h1>Floor Repair</h1>
    <div class="container">
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <input type="hidden" name="calculator_type" value="floor">
            <h3>Huoneiston tyyppi:</h3>
            <div class='radio-container'>
                {% for house in type_of_house %}
                <div>
                    <input type="radio" name="house_type" value="{{ house.id }}" id="house_{{ house.id }}" required>
                    <label for="house_{{ house.id }}">{{ house.type_of_house }}</label>
                </div>
                {% endfor %}
            </div>
            <div  class="remontointi-form">
                <label for="square_meters">Remontoitavan tilan lattiapinta-ala (m²) :</label>
                <input type="number" name="square_meters" placeholder="Square Meters" required>
            </div>
            <h3>Lattiamateriaali</h3>
            <div class='radio-container'>
                {% for material in floor_material %}
                <div>
                    <input type="radio" name="floor_material" value="{{ material.id }}" id="material_{{ material.id }}" required>
                    <label for="material_{{ material.id }}">{{ material.floor_material }}</label>
                </div>
                {% endfor %}
            </div>
            <div id="result">
                <button type="submit">Laskee hinta</button>
                {% if total_cost %}
                    Total Cost: <span id='total-cost'> {{ total_cost }} </span>
                {% endif %}
            </div>
        </form>
    </div>

    <h1>Wall Repair</h1>
    <div class="container">
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <input type="hidden" name="calculator_type" value="wall">
            <h3>Huoneiston tyyppi:</h3>
            
            <div class='radio-container'>
                {% for house in type_of_house %}
                <div>
                    <input type="radio" name="house_type" value="{{ house.id }}" id="house_{{ house.id }}" required>
                    <label for="house_{{ house.id }}">{{ house.type_of_house }}</label>
                </div>
                {% endfor %}
            </div>
            <div class="remontointi-form">
                <label for="square_meters">Remontoitavan tilan lattiapinta-ala (m²) :</label>
                <input type="number" name="square_meters" placeholder="Square Meters" required>
            </div>
            <h3>Seinien maalaus</h3>
            <div class='radio-container'>
                {% for material in wall_material %}
                <div>
                    <input type="radio" name="wall_material" value="{{ material.id }}" id="material_{{ material.id }}" required>
                    <label for="material_{{ material.id }}">{{ material.wall_material }}</label>
                </div>
                {% endfor %}
            </div>
                <button type="submit">Laskee hinta</button>
                {% if total_cost %}
                    Total Cost: <span id='total-cost'> {{ total_cost }} </span>
                {% endif %}
        </form>
    </div>

    <h1>Bathroom Repair</h1>
    <div class="container">
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <input type="hidden" name="calculator_type" value="bathroom">
            <h3>Huoneiston tyyppi:</h3>
            <div class='radio-container'>
                {% for house in type_of_house %}
                <div>
                    <input type="radio" name="house_type" value="{{ house.id }}" id="house_{{ house.id }}">
                    <label for="house_{{ house.id }}">{{ house.type_of_house }}</label>
                </div>
                {% endfor %}
            </div>
            <div class="remontointi-form">
                <label for="square_meters">Remontoitavan tilan lattiapinta-ala (m²) :</label>
                <input type="number" name="square_meters" placeholder="Square Meters">
            </div>
            <h3>Seinien maalaus</h3>
            <div class='radio-container'>
                {% for material in wall_material %}
                <div>
                    <input type="radio" name="wall_material" value="{{ material.id }}" id="material_{{ material.id }}">
                    <label for="material_{{ material.id }}">{{ material.wall_material }}</label>
                </div>
                {% endfor %}
            </div>
            <h3>Lattiamateriaali</h3>
            <div class='radio-container'>
                {% for material in floor_material %}
                <div>
                    <input type="radio" name="floor_material" value="{{ material.id }}" id="material_{{ material.id }}">
                    <label for="material_{{ material.id }}">{{ material.floor_material }}</label>
                </div>
                {% endfor %}
            </div>
            <h3>WC</h3>
            <div class='radio-container'>
                {% for toilet in type_of_toilet %}
                <div>
                    <input type="radio" name="type_of_toilet" value="{{ toilet.id }}" id="toilet_{{ toilet.id }}">
                    <label for="toilet_{{ toilet.id }}">{{ toilet.type_of_toilet }}</label>
                </div>
                {% endfor %}
            </div>

            <h3>Suihkut</h3>
            <div class='radio-container'>
                {% for shower in type_of_shower %}
                <div>
                    <input type="radio" name="type_of_shower" value="{{ shower.id }}" id="shower_{{ shower.id }}">
                    <label for="shower_{{ shower.id }}">{{ shower.type_of_shower }}</label>
                </div>
                {% endfor %}
            </div>

            <h3>Allashanat</h3>
            <div class='radio-container'>
                {% for sink in type_of_sink %}
                <div>
                    <input type="radio" name="type_of_sink" value="{{ sink.id }}" id="sink_{{ sink.id }}" >
                    <label for="sink_{{ sink.id }}">{{ sink.type_of_sink }}</label>
                </div>
                {% endfor %}
            </div>

            <h3>Erikoiskohteet</h3>
            <div class='radio-container'>
                {% for item in type_of_item %}
                <div>
                    <input type="radio" name="type_of_item" value="{{ item.id }}" id="item_{{ item.id }}">
                    <label for="item_{{ item.id }}">{{ item.type_of_item }}</label>
                </div>
                {% endfor %}
            </div>
                <button type="submit">Laskee hinta</button>
        </form>
    </div>

    <section id="contact">
        <div class="contact-container">
          <h2>Contact Us</h2>
          <form action="#" method="post">
            <div class="form-group required">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" required />
            </div>
            <div class="form-group required">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" required />
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="tel" id="phone" name="phone" />
            </div>
            <div class="form-group required">
              <label for="message">Message</label>
              <textarea id="message" name="message" required></textarea>
            </div>
            <div class="form-group">
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </section>
    </main>

    <footer>
      <div class="socials">
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="copyright">
          <p>&copy; 2024</p>
      </div>
    </footer>

</body>
</html>
